.rccs {
  margin-top: 18px;
}

.rccs__card--unknown > div {
  background: #2d4564;
}

.Collapsible {
  margin: 30px auto 0 auto;
}

.Collapsible__trigger {
  width: 100%;
  display: block;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}

.chartjs-render-monitor {
  width: 180px !important;
  height: 110px !important;
  margin: 0 auto;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.date-picker-component {
  width: calc(100% - 23px) !important;
  padding: 9px !important;
}

/* Typing animated icon */

.typing-indicator {
  background-color: #e6e7ed;
  will-change: transform;
  width: auto;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
  margin: 0 auto 0 15px;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
  animation: 2s bulge infinite ease-out;
}
.typing-indicator::before,
.typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #e6e7ed;
}
.typing-indicator::after {
  height: 5px;
  width: 5px;
  left: -5px;
  bottom: -5px;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
  animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

#stream-container video {
  width: 200px;
}

video {
  max-width: 950px;
  max-height: 484px;
  width: 100%;
}

#stream-container .stream-author {
  width: 200px;
  font-size: 10px;
  padding: 3px 0;
}

.full-sc-video video {
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100vw;
  height: 100vh;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -40px;
  left: -10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
